<a href="https://colab.research.google.com/github/abdelilah-bouslama/Data-Science/blob/master/Apache_Spark/Spark_and_RDD(part1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Flowing youtube chanel :  https://www.youtube.com/watch?v=CoYIwoeQxMY&list=PLot-YkcC7wZ_2sxmRTZr2c121rjcaleqv

In [0]:
# INSTALLING SPARK
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
#DEFINING SYSTEM VARIABLES
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# **EXAMPLE 1: WORD COUNT**

In [0]:
rdd = spark.sparkContext.textFile("/content/drive/My Drive/BIG DATA/pyspark/Tutorial-2/datasets/word_count.txt")

In [0]:
# NOT COMPLETE YET
words = rdd.map(lambda x: x.split(" "))
words = words.count()

# **EXAMPLE 2: Airplans USA Problems**

In [0]:
rdd = spark.sparkContext.textFile("/content/drive/My Drive/BIG DATA/pyspark/Tutorial-2/datasets/airports.text")

In [0]:
result = rdd.map(lambda line: line.split(",")) \
    .filter(lambda line: line[3] == "\"United States\"") \
    .map(lambda line: "{},{}".format(line[1], line[2])) \
    .collect()
result

# **EXAMPLE 3 : : Aiplans , LATITUTE > 40**

In [0]:
import re
class Utils():
    COMMA_DELIMITER = re.compile(''',(?=(?:[^"]*"[^"]*")*[^"]*$)''')

In [0]:
result = rdd.map(lambda line: Utils.COMMA_DELIMITER.split(line)) \
    .filter(lambda line : float(line[6]) > 40) \
    .map(lambda line : "{},{}".format(line[1], line[6])) \
    .collect()
result

# **EXAMPLE 4 :  (1) Union Operation **

In [0]:
firstDataset = '/content/drive/My Drive/BIG DATA/pyspark/Tutorial-2/datasets/union/nasa_19950701.tsv.txt'
secondDataSet = '/content/drive/My Drive/BIG DATA/pyspark/Tutorial-2/datasets/union/nasa_19950801.tsv.txt'
firstRdd = spark.sparkContext.textFile(firstDataset)
secondRdd = spark.sparkContext.textFile(secondDataSet)

In [0]:
fullRdd = firstRdd.union(secondRdd)
filtredRdd = fullRdd.filter(lambda line : not (line.startsWith("host") and "bytes"))
sampleRdd = filtredRdd.sample(withReplacement = True, fraction = 0.1)
sampleRdd

PythonRDD[47] at RDD at PythonRDD.scala:53

# **EXAMPLE 4 :  (2) Intersection Operation **

In [0]:
#Not working
fullRdd = firstRdd.intersection(secondRdd)
filtredRdd = fullRdd.filter(lambda line : not (line.startsWith("host") and "bytes"))
filtredRdd

# **EXAMPLE 5 :  Reduce **

In [0]:
primeDataset = '/content/drive/My Drive/BIG DATA/pyspark/Tutorial-2/datasets/prime_nums.text'
primeRdd = spark.sparkContext.textFile(primeDataset)

In [0]:
prime_sum = primeRdd.flatMap(lambda line : line.split("\t")) \
    .filter(lambda number: number) \
    .map(lambda number: int(number)) \
    .reduce(lambda x, y: x + y)
prime_sum

24133