<a href="https://colab.research.google.com/github/abdelilah-bouslama/Data-Science/blob/master/pandas/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **FOLLOW** https://www.youtube.com/watch?v=9Z7wvippeko&list=PLQVvvaa0QuDc-3szzjeP6N6b0aDrrKyL-&index=3

In [0]:
import pandas as pd
import numpy as np
import matplotlib as plt
from matplotlib import style
style.use('ggplot')

In [0]:
df = pd.DataFrame([
          {
              "Id"        : 1,
              "firstName" : "Abdelilah",
              "lastName"  : "Bouslama",
              "Age"       : 31     
          },
          {
              "Id"        : 2,
              "firstName" : "Mariya",
              "lastName"  : "Bouslama",
              "Age"       : 2 
          },
          {
              "Id"        : 3,
              "firstName" : "Fati",
              "lastName"  : "El yamani",
              "Age"       : 30
          }
    ])
df = df.set_index("Id") #  or df.set_index("Id", inplace=True)
#print(df.head())
print(df["lastName"]) # or print(df.lastName)
print(df[["lastName", "firstName"]])
#rint(type(df.to_numpy()))
#print(df.tail(2))

In [0]:
df = pd.read_csv("/content/drive/My Drive/BIG DATA/Python/datatset/ZILLOW-Z77006_ZMTY.csv", index_col=0)
df.rename(columns={'Value':'number'}, inplace=True)
df.head()

NEED to review this [video](https://www.youtube.com/watch?v=ylIRlTFt_Fk&list=PLQVvvaa0QuDc-3szzjeP6N6b0aDrrKyL-&index=5)

**MERGING && JOINING**

In [0]:
import pandas as pd



df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])
df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [0]:
#merging
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)
pd.merge(df1,df3, on='HPI')
#pd.merge(df1,df2, on =['HPI', 'Int_rate'])
#pd.merge(df1,df2, on =['Int_rate'])

In [0]:
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)
joined = df1.join(df3)
print(joined)

In [0]:
!pip install --upgrade quandl

In [0]:
import quandl
def getData(state):
  return quandl.get('FMAC/HPI_'+state, authtoken= 'k7qzTm_e7xp72hyBbTnY')
  #df = quandl.get('FMAC/HPI_'+prefix, authtoken= 'k7qzTm_e7xp72hyBbTnY')
  #return df

In [0]:
def getStates():
  df_html = pd.read_html("https://simple.wikipedia.org/wiki/List_of_U.S._states", index_col=0)
  return np.array(df_html[0])[:,0]

In [0]:
states = getStates()
states = list(filter(lambda state: state != None , states))
states = pd.DataFrame(list(map(lambda state: getData(state), states)))
#print(squared)

In [44]:
states.head()

                                                   0
0               NSA Value    SA Value
Date       ...
1               NSA Value    SA Value
Date       ...
2               NSA Value    SA Value
Date       ...
3               NSA Value    SA Value
Date       ...
4               NSA Value    SA Value
Date       ...